<h3>Edit Route</h3>

<%= form_for @route do |f| %>


  <% if @route.errors.any? %>
   <ul>
   	   <% for msg in @route.errors.full_messages %>
   	   <li><%= msg %></li>
   	   <% end %>
   </ul>
  <% end %>

	<label>Name:</label><br/>
	<%= f.text_field :name %><br/>

	<%= f.submit %>

	<% end %>